* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  color: #343a40;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #336b87 !important;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create one column that floats */
/*  column */
.centercolumn {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer 1*/
.footer1 {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Footer 2*/
.footer2 {
  font-family: monospace;
  text-align: center;
  padding-top: 10px;
  background: #ddd;
  font-size: 12px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .centercolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-align: right;
}

input[type="submit"] {
  background-color: #336b87;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type="submit"]:hover {
  background-color: #ddd;
  color: black;
  border-radius: 1px;
}

input[type="reset"] {
  background-color: #763626;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type="reset"]:hover {
  background-color: #ddd;
  color: black;
  border-radius: 1px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /*  max-width: 50%; */
}

.col-25 {
  text-align: right;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-100 {
  float: center;
  width: 100%;
  margin-top: 6px;
}

.col-50 {
  float: center;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.messages {
  color: red;
  text-align: left;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(207, 234, 247);
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #336b87;
  color: white;
}

ul {
  list-style-type: circle;
}

.warning {
	background-color: #336b87;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

  }
  
 .warning:hover {
	background-color: #ddd;
	color: black;
	border-radius: 1px;
  }
  
  .danger {
	background-color: #763626;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

  }
  
  .danger:hover {
	background-color: #ddd;
	color: black;
	border-radius: 1px;
  }

/*
Combinacion de Colores 
#90AFC5
#336B87
#2A3132
#763626 */
